<?xml version="1.0" encoding="UTF-8"?>

<style-sheet uses:base="Quick-Base v0.1">
	<style element="renderer-value-override">
		<style condition="selected">
			<style attr="color">`lime-green`</style>
		</style>
	</style>
</style-sheet>
